{{define "alerts"}}


{{ if .Message }} 



{{ if (and (eq .Status 201) (eq .Status 200))}}
<div class="alert alert-success" role="alert">
  {{.Message}}
</div>

{{end}} 


{{ if (and (ge .Status 400) (le .Status 500))}}
<div class="alert alert-danger" role="alert">
  {{.Message}}
</div>

{{end}} 

{{end}}

{{end}}
