{{ template "navigation" }} {{template "header"}}

<div class="container">
  <p class="mt-5">Fill out this form to update your profile</p>

  <form action="/editProfile" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control" id="name" />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input name="lastname" type="text" class="form-control" id="lastname" />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" />
    </div>

    <div class="form-group">
      <label for="telephone">Telephone</label>
      <input name="telephone" type="text" class="form-control" id="telephone" />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input name="address" type="text" class="form-control" id="address" />
    </div>

    <input name="jwt" type="hidden" id="jwt" />

    <button type="submit" class="btn btn-primary">Update</button>
    <p class="mt-5">
      <a class="btn-link" href="/profile">back</a>
    </p>
  </form>
</div>

{{template "footer"}}
