
{{define "footer"}}  


<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
crossorigin="anonymous"
></script>

<script>

  // global varables
  var exp = window.localStorage.getItem("exp");
  var jwt = window.localStorage.getItem("jwt");
  var current = window.location.hostname
  
  // function that clears the localstorage and works as a gaurd
  function logout() {
    localStorage.clear();
    window.location.assign("/");
  }
  
  // expiration of the token, helps signout the user if it's not secured anymore
  if (exp && exp < new Date().getTime() / 1000) {
    logout();
  }
  
  // populates a hidden input that has the jwt so that it can be used to make requests to the backend
  var jwtInput = document.getElementById("jwt");
  jwtInput.value = jwt != null ? jwt : "";

  if (!jwt && current !== "/"){
    window.location.assign("/")
  }

  if (jwt && (current === "/" && current === "/signup")){
    window.location.assign("/profile")
  }


</script>
</body>
</html>


{{end}}