{{template "header"}} 
{{template "alerts" .}}

<div class="container">
  <h1 class="display-4">User login  </h1>

  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <p>
      Not a user
      <a class="btn-link" href="/signup">sign up</a>
    </p>
  </form>
</div>

{{template "footer"}}
