{{ define "navigation" }}

<div class="bg-dark">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <button onclick="logout()" class="btn btn-danger">log out</button>
    </li>
  </ul>
</div>

{{ end }}
