
{{ template "navigation" }} 

{{template "header"}}

<div class="container">
  <h1 class="display-4">Hi</h1>

  <p>You can verify your profile info here</p>

  <a class="btn btn-info my-5 text-right" href="/editProfile">update</a>

  <ul class="list-group">
    <li class="list-group-item">Name: {{.Name}} {{.Lastname}}</li>
    <li class="list-group-item">Email: {{.Email}}</li>
    <li class="list-group-item">Telephone {{.Telephone}}</li>
    <li class="list-group-item">Address: {{.Address}}</li>
  </ul>
</div>

<script>

  var token = {{ .Token }}
  var expires = {{ .ExpiresAt }}
  window.localStorage.setItem('jwt', token.token);
  window.localStorage.setItem('exp', expires);
</script>

{{template "footer"}}
